# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# .gitignore
node_modules/*
!node_modules/drizzle-orm/cache/core/cache-effect.js
!node_modules/drizzle-orm/cache/core/cache-effect.d.ts
!node_modules/drizzle-orm/effect-core/errors.js
!node_modules/drizzle-orm/effect-core/errors.d.ts
!node_modules/drizzle-orm/effect-core/logger.js
!node_modules/drizzle-orm/effect-core/logger.d.ts
!node_modules/drizzle-orm/effect-core/query-effect.js
!node_modules/drizzle-orm/effect-postgres/session.js
!node_modules/drizzle-orm/pg-core/effect/session.js
